footer {
            position: absolute;
            bottom: 1rem;
            left: 50%;
            transform: translateX(-50%);
        }

        footer p {
            text-align: center;
            color: #ef4d0a70;
            font-size: 0.8rem;
        }

        footer a {
            color: #000;
            background-color: transparent;
            border: none;
        }